<%- include('./menuHead') %>
    <%- include('./menu-nav') %>
    <div id="pizzaMenu" class="menuContent">
        <h2>Desserts</h2>
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Gamberoni</h3>
                <p>Spaghetti with king prawns, baby
                    plum tomatoes, white wine,
                    garlic butter and red chill</p>
                <small>£212</small>
            </div>
            <div class="menuItemIcons">
                <img src="/images/vegan.png">
                <img src="/images/alcohol.png">
                <img src="/images/chilli.png">
            </div>
            
        </div>
    </div>
<%- include('./menuFoot') %>