<div class="menuKey">
    <div>
        <img src="/images/vegan.png">
        <p>Vegitarian</p>
    </div>
    <div>
        <img src="/images/chilli.png">
        <p>Spicy</p>
    </div>
    <div>
        <img src="/images/alcohol.png">
        <p>Contains Alcohol</p>
    </div>
</div>
