<div id="menuNav">
    <ul>
        <li><a href="/menu/pizza">pizza</a></li>
        <li><a href="/menu/pasta">pasta</a></li>
        <li><a href="/menu/sides">sides</a></li>
        <li><a href="/menu/desserts">desserts</a></li>
        <li><a href="/menu/flatbreads">flatbreads</a></li>
        <li><a href="/menu/cicchetti">cicchetti</a></li>
        <li><a href="/menu/aperitivo">aperitivo</a></li>
    </ul>
</div>