<%- include('./menuHead') %>
    <%- include('./menu-nav') %>
    <div id="pizzaMenu" class="menuContent">
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Lorem ipsum</h3>
                <p>dolor sit amet, consectetur adipiscing elit. Donec quis orci at mauris mattis volutpat et vel dolor. Morbi varius rhoncus auctor. Suspendisse at nulla mi</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">
                <img src="/images/vegan.png">
                <img src="/images/chilli.png">
            </div>
        </div>    
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Lorem ipsum</h3>
                <p>dolor sit amet, consectetur adipiscing elit. Donec quis orci at mauris mattis volutpat et vel dolor. Morbi varius rhoncus auctor. Suspendisse at nulla mi</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">
                <img src="/images/vegan.png">
                <img src="/images/alcohol.png">
            </div>
        </div>    
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Lorem ipsum</h3>
                <p>dolor sit amet, consectetur adipiscing elit. Donec quis orci at mauris mattis volutpat et vel dolor. Morbi varius rhoncus auctor. Suspendisse at nulla mi</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">
              
            </div>
        </div>    
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Lorem ipsum</h3>
                <p>dolor sit amet, consectetur adipiscing elit. Donec quis orci at mauris mattis volutpat et vel dolor. Morbi varius rhoncus auctor. Suspendisse at nulla mi</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">
                <img src="/images/vegan.png">
            </div>
        </div>    
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Lorem ipsum</h3>
                <p>dolor sit amet, consectetur adipiscing elit. Donec quis orci at mauris mattis volutpat et vel dolor. Morbi varius rhoncus auctor. Suspendisse at nulla mi</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">

            </div>
        </div>    
    </div>
<%- include('./menuFoot') %>
