<%- include('./menuHead') %>
    <%- include('./menu-nav') %>
    <div id="pizzaMenu" class="menuContent">
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Margherita</h3>
                <p>Tomato, mozzarella and basil</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">
                <img src="/images/vegan.png">
            </div>
        </div>
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Piccante</h3>
                <p>Tomato, mozzarella, ‘nduja
                    sausage, chicken, mascarpone,
                    chilli, garlic and rocket</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">
            
               
            </div>
        </div>
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Prosciutto Bufala</h3>
                <p>Tomato, mozzarella, prosciutto,
                    bufala mozzarella and rocket</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">
                <img src="/images/vegan.png">
                
            </div>
        </div>
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Formaggio Funghi</h3>
                <p>Chestnut mushrooms, mozzarella,
                    dolcelatte and pecorino cheese
                    on a creamy mascarpone base</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">
                
            </div>
        </div>
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Calzone </h3>
                <p>Folded pizza filled with tomato,
                    mozzarella, salami piccante, seasoned
                    ricotta and pecorino cheese</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">
               
            </div>
        </div>
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Pepperoni </h3>
                <p>Tomato, mozzarella, salami piccante,
                    red onion, garlic and rocket</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">
               
            </div>
        </div>
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Salsiccia Broccoli </h3>
                <p>Basilicata sausage, tenderstem
                    broccoli, red chilli & garlic topped
                    with mozzarella and pecorino cheese
                    on a creamy mascarpone base
                    with a drizzle of balsamic glaze</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">
               
            </div>
        </div>
        <div class="menuItem">
            <div class="menuItemTxt">
                <h3>Diavolo</h3>
                <p>Tomato, mozzarella, salami piccante,
                    scotch bonnet chilli and ‘nduja
                    sausage with two sauces on the side:
                    srirarcha for an extra hot kick and
                    mint yogurt for a cooling effect</p>
                <small>£8.45</small>
            </div>
            <div class="menuItemIcons">
                <img src="/images/vegan.png">
            </div>
        </div>
    </div>
<%- include('./menuFoot') %>