@import '../global.scss';

#index-section-2{
    display: flex;
    justify-content: space-evenly;
    #pizzaImg-wrap{
        background: url('../../images/pizza.jpg');
        background-size: cover;
    }
    div{
        flex: 1;
        div{
        }
        img{
            width: 100%;
        }
    }
}

#index-section-3{
    div{
        background: url('../../images/section3Background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        div{
            width: 600px;
            margin: auto;
            background: $light;
                 
        }
    }   
}

#index-section-4{
    
    div{
    }   
}
#index-section-5{
    .section-5-col{
        height: 90vh;
        justify-content: space-between;
        color: $light;
        width: 100%;
        flex: 1;
        padding-top: 40px;
        div{
            h1{
                font-size: 80px;
                 letter-spacing: 10px;
                 text-transform: capitalize;
    
            }
            h2{
                color: rgb(221, 221, 36);
                box-shadow: 0 0 2px rgb(255, 230, 0);
                font-size: 40px;
                letter-spacing: 10px;
                text-transform: capitalize;
    
            }
        }
       
        button{
            border-radius: 25px 0 25px 0;
            padding: 20px 100px;
            background: rgb(139, 209, 192);
            color: $light;
            font-size: 25px;
            font-weight: 800;
        }
    }

    }
    #row-1{
        background: url('../../images/gelato.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    #row-3{
        background: url('../../images/winemenu.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
