<header>
    <section class="grid-gap">
        <div>
            <h1>BELLO ITALIANO</h1>
            <p>Authentic Italian pizza, no contact delivery straight to your door</p>
        </div>
        <div>
            <input type="text" name="query" placeholder="postcode/address">
            <img src="/images/searchIcon.png" alt="search icon">
        </div>
        <small>Free delivery up to 5 miles. 5 to 10 miles = extra £1 per mile</small>
    </section>
</header>