<nav>
    <div>
        <a id="loginBtn"  class="flex-row grid-gap" >
            <img src="/images/loginIcon.png">
            <p>Login</p>
        </a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
<div id="login-drop-down">
    <form class="flex-colum">
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="password" name="password">
        <button class="btn">Login</button>
        <a href="#"><small>Signup</small></a>
        <img id="hideIcon" src="/images/arrowUpIcon.png" alt="closeIcon">
    </form>
</div>