<%- include('../layouts/head') %>
<%- include('../layouts/partials/header') %>

<main>
    <section class="text-wrap-padding flex-colum grid-gap section-light">
        <h1>now open inside and out!</h1>
        <h3>call 01507 472999 to reserve a table</h3>
        <h3 class="btn">order online</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut leo ac diam mollis elementum ut tincidunt risus. 
            Donec eu ipsum et turpis molestie mollis at sed libero. Quisque sed ligula elit. 
            Vivamus eleifend tellus laoreet, semper ante ut, imperdiet turpis. Cras eget ligula nec arcu varius imperdiet. 
            Etiam quis libero purus. Proin imperdiet, tortor id fermentum rhoncus, nulla ex eleifend arcu, vel imperdiet mi libero vitae mi. 
            Sed porttitor mauris tincidunt, posuere nibh at, commodo leo. Vivamus gravida auctor metus, ut ultrices nulla congue id. 
            Fusce velit odio, maximus nec arcu eu, lacinia ornare tortor. In consectetur laoreet est, ut pretium metus.
        </p>
    </section>
    <section id="index-section-2" class="section-dark-blue">
        <div class="flex-colum" id="pizzaImg-wrap">
            
        </div>
        <div class="flex-colum text-wrap-padding grid-gap">
            <h1>OPEN AS USUAL</h1>
            <div>
                <h2>now open 7 days a week</h2>
                <small>Booking is advisable on Sundays</small>
            </div>
            <div>
                <p class="text-highlight">11:45am until 9pm Mon-Sat</p>
                <p class="text-highlight">11:30 until 8:30pm Sundays</p>
                <p class="text-highlight">PLEASE NOTE Carvery is available until 8pm</p>
            </div>
            <div>
                <h3>WELCOME BACK</h3>
                <p>
                    When you arrive you will need to fill in your details for track & trace or scan the QR code, this needs to be done by each member of your party (over 18 years). You will then be seated, you will be given your menus and you can order using our app (QR code is on the menus) or if needed a member of the team will take your order for you. 
                </p>
            </div>
            <div>
            <h3>TAKEAWAY</h3>
            <p>Upon arrival, let a member of staff know you are visiting for takeaway, you will be given a takeaway menu and carvery ticklist then asked to go through the front door to the bar area where you can fill in your carvery ticklist, browse the menu and order on the app (QR code is on the menu) or order at the bar and make payment. You will be seated whilst you wait for your takeaway Carvery to be bought to you.

                Takeaway Carvery is no longer available on Sundays.</p>
            </div>
        </div>
    </section>
    <section id="index-section-3">
        <div>
            <div class="flex-colum text-wrap-padding grid-gap section-light">
                <h2>ABOUT US</h2>
                <h3>WHAT WE OFFER</h3>
                <p>At The Beck we are well known for our tasty Carvery & Menu, which is always served during opening hours. Our Carvery offers tender, slow cooked meats and an expertly prepared range of vegetables</p>
                <h3>FOOD "YOU CAN TRUST</h3>
                <p>Here at" The Beck, we are passionate about food hygiene, with our five star Food Hygiene rating you can feel safe in the knowledge that we take care to ensure your meals are prepared in a safe & clean enviroment.</p>
                <br>
                <p>We have taken many extra measures to do our best to minimise the risk of Coronavirus here at The beck. We are doing touch point disinfection every 30 minutes and tables are fully disinfected after every use. We have also installed hand pump stations for staff & customers to use at both entrances and at the carving deck. Staff have all been given letters regarding the virus. We are all taking it very seriously to ensure we are doing the best for our staff & customers.</p>                
            </div>
        </div>
    </section>
    <section id="index-section-4">
        <div class="flex-colum text-wrap-padding grid-gap section-medium">
            <h2>ABOUT US</h2>
            <h3>WHAT WE OFFER</h3>
            <p>As well as great quality food and excellent service we offer a large customer Car Park making access to The Beck hassle free. We also have outdoor Patio Area's for dining, although dogs are not allowed in the Bar or Restaurant you can take your dogs onto the Patio Area's where fresh water is available. The patio area does have some cover for rainy days.</p>
        
            <h3>FOOD YOU CAN TRUST</h3>
            <p>Here at The Beck, we are passionate about food hygiene, with our five star Food Hygiene rating you can feel safe in the knowledge that we take care to ensure your meals are prepared in a safe & clean enviroment.</p>
            <hr>
            <p>We have taken many extra measures to do our best to minimise the risk of Coronavirus here at The beck. We are doing touch point disinfection every 30 minutes and tables are fully disinfected after every use. We have also installed hand pump stations for staff & customers to use at both entrances and at the carving deck. Staff have all been given letters regarding the virus. We are all taking it very seriously to ensure we are doing the best for our staff & customers.</p>
        </div>
    </section>
    <section id="index-section-5" class="flex-row ">
        <div id="row-1" class="flex-colum section-5-col">
            <div>
                <h2>DESSERT</h2>
                <h1>MENU</h1>
            </div>
            <button class="btn">VIEW HERE</button>
        </div>
        <div id="row-2" class="flex-colum section-5-col section-dark-blue">
            <div>
                <h2>DESSERT</h2>
                <h1>MENU</h1>
            </div>

            <div>
                <h3>
                    keep up to date
                </h3>
            </div>
            <button class="btn">SEE OUR BLOG</button>
        </div>
        <div id="row-3" class="flex-colum section-5-col">
            <div>
                <h2>DRINKS</h2>
                <h1>MENU</h1>
            </div>
            <button class="btn">VIEW HERE</button>
        </div>
    </section>
</main>

<%- include('../layouts/foot') %>