<%- include('../layouts/head') %>
<main>
    <section id="section-menu">
       
       <div class="menuContainer flex-row">
            <%- include('./menu-partials/menu-nav') %>
            <div id="menuDesc">
                <h3>Menu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis orci at mauris mattis volutpat et vel dolor. Morbi varius rhoncus auctor. Suspendisse at nulla mi. Vivamus porttitor ullamcorper diam, volutpat interdum purus vehicula id. Ut vitae volutpat turpis. Fusce ornare dignissim diam ut efficitur</p>
            </div>
       </div>
       <%- include('./menu-partials/menu-key') %>
    </section>
</main>

<%- include('../layouts/foot') %>